
<div class="heading">
<h3>Breathe life into your</h3>
<h1>HOME DECOR</h1>
<p>Buy handicrafts online from iauro Foundation's handmade basket store. <br>
     are the best handicraft items for your homes.</p>
<button class="button">View Shop</button>
</div>

<img class="homeImage" src="../../assets/Rectangle Home.svg"/>

<div class="flex-container">
    <div class="flex-item">
      <div class="amount">5000</div>
      <hr/>
      <div class="text">Artisan livelihoods supported</div>
    </div>
    <div class="flex-item">
      <div class="amount">100</div>
      <hr/>
      <div class="text">Producer groups engaged</div>
    </div>
    <div class="flex-item">
      <div class="amount">16</div>
      <hr/>
      <div class="text">Craft lines available</div>
    </div>
    <div class="flex-item">
      <div class="amount">70</div>
      <hr/>
      <div class="text">Producers are women</div>
    </div>
  </div>
  